<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="Default" connectionString="Server=localhost;Database=OpenCBS_Online_Dev;Trusted_Connection=True;"/>
  </connectionStrings>
  <appSettings>
    
    <add key="DATABASE_NAME" value="OpenCBS_Online_Test"/>
    <add key="DATABASE_SERVER_NAME" value="localhost"/>
    <add key="DATABASE_LOGIN_NAME" value="sa"/>
    <add key="DATABASE_PASSWORD" value="sadev"/>
    <add key="DATABASE_TIMEOUT" value="300"/>
    <!-- REPORT_PATH SCRIPT_PATH  // DATABASE_LIST SENT_QUESTIONNAIRE-->
    
    <add key="TimeOutInMinutes" value="30"/>
  </appSettings>

  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5.1" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.5.1" />
    <pages controlRenderingCompatibilityVersion="4.0" />
    <httpHandlers>
      <add verb="*" type="Nancy.Hosting.Aspnet.NancyHttpRequestHandler" path="*" />
    </httpHandlers>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <httpErrors existingResponse="PassThrough" />
    <handlers>
      <add name="Nancy" verb="*" type="Nancy.Hosting.Aspnet.NancyHttpRequestHandler" path="*" />
    </handlers>
  </system.webServer>
    
</configuration>