<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="Default" connectionString="Server=localhost;Database=OpenCBS_Online_Test;Trusted_Connection=True;"/>
  </connectionStrings>
  <appSettings>
    <add key="DATABASE_NAME" value="OpenCBS_Online_Test"/>
    <add key="DATABASE_SERVER_NAME" value="localhost"/>
    <add key="DATABASE_LOGIN_NAME" value="sa"/>
    <add key="DATABASE_PASSWORD" value="sadev"/>
    <add key="DATABASE_TIMEOUT" value="300"/>
    
    <!-- REPORT_PATH SCRIPT_PATH  // DATABASE_LIST SENT_QUESTIONNAIRE-->
    
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/></startup></configuration>
